*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
.DS_Store
/build
/captures
/*cocomo
*.idea

# .idea files contains project specific settings on local machine. In ordet to cause uniform configuration .idea files should be checked in

# http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
# please go through the following links for structure related change
